@import "../../variables";

.button {
  @include rem('font-size', 20px);
  @include rem('padding', 14px 10.5px 15px 10.5px);
  line-height: 1.2;

  margin: 0;

  border: 3px solid black;
  background: black;
  color: white;
  text-decoration: none;
  border-radius: 0;
  display: inline-block;

  text-transform: uppercase;

  &:focus,
  &:hover {
    background: white;
    border-color: black;
    color: black;
    transition: all 250ms ease;
  }
}

.button--white {
  @include rem('font-size', 20px);
  background: white;
  color: $color--dark-red;
  border-color: white;
  font-weight: bold;
  font-family: $font--gt-america;
  font-stretch: condensed;

  &:hover {
    background: $color--onyx-red;
    color: white;
    border-color: white;
  }
}

.button--red {
  background: $color--red;
  border-color: $color--red;
  font-weight: bold;
  text-transform: uppercase;

  &:hover {
    background: transparent;
    color: $color--red;
    border-color: $color--red;
  }
}

.button--orange {
  background: $color--light-orange;
  color: $color-alt-dark-gray;
  border-color: $color--light-orange;
  font-family: $font--gt-america;
  font-stretch: condensed;
  font-weight: bold;

  &:hover {
    background: $color--light-orange;
    color: $color-alt-dark-gray;
    border-color: $color--light-orange;
  }
}

.button--large {
    @include rem('font-size', 20px);
    @include rem('padding', 14px 30px 16px 30px);
}
