<style>
    .example-buttons {
        background-color: gray;
        padding: 30px;
    }
</style>

<div class='example-buttons'>
    {% include '@atoms/12-button/_button.twig' with {
        button: button
    } only %}
</div>
