<aside id="off-canvas" class="off-canvas off-canvas--open" tabindex="-1" role="region" aria-label="Site Menu">
  <div class="offcanvas__header">
    <button type="button" class="offcanvas__close" title="Close Navigation">
      <span class="close-button">
        <span></span>
        <span></span>
      </span>
    </button>
  </div>

  <div class="offcanvas__content">
    <div class="region region-off-canvas">


      <nav aria-labelledby="block-mainmenu-menu" id="block-mainmenu" class="contextual-region block block-menu navigation menu--main">

        <h2 id="block-mainmenu-menu" class="visually-hidden">Main menu</h2>
        <div data-contextual-id="block:block=mainmenu:langcode=en|menu:menu=main:langcode=en" data-contextual-token="1nAt0xY6D2Z9yq1Wq7FV5eOKqn4g-vGSKW72U7JIzzY" class="contextual" role="form">
          <button class="trigger focusable visually-hidden" type="button" aria-pressed="false">Open Main menu configuration options</button>
          <ul class="contextual-links" hidden="">
            <li class="block-configure">
              <a href="/admin/structure/block/manage/mainmenu?destination=/webform/life_income_plans">Configure block</a>
            </li>
            <li class="entitymenuedit-form">
              <a href="/admin/structure/menu/manage/main?destination=/webform/life_income_plans">Edit menu</a>
            </li>
          </ul>
        </div>


        <ul class="menu">


          <li class="menu__menu-item">
            <a href="/about" title="About the ACLU of Northern California" name="About the ACLU of Northern California" data-drupal-link-system-path="node/1">About</a>
          </li>


          <li class="menu__menu-item menu__menu-item--expanded">
            <a href="/about" data-drupal-link-system-path="node/1">Who We Are</a>


            <ul class="sub-menu">


              <li class="sub-menu__menu-item sub-menu__menu-item--expanded">
                <span>Items with Children</span>


                <ul class="sub-menu">


                  <li class="sub-menu__menu-item sub-menu__menu-item--expanded">
                    <a href="https://remove.me">Work With Us</a>


                    <ul class="sub-menu">


                      <li class="sub-menu__menu-item">
                        <a href="https://remove.me">Internships</a>
                      </li>


                      <li class="sub-menu__menu-item">
                        <a href="https://remove.me">Fellowships</a>
                      </li>


                      <li class="sub-menu__menu-item">
                        <a href="https://remove.me">Volunteering</a>
                      </li>
                    </ul>

                  </li>
                </ul>

              </li>


              <li class="sub-menu__menu-item sub-menu__menu-item--expanded">
                <span>Bold Items</span>


                <ul class="sub-menu">


                  <li class="sub-menu__menu-item">
                    <a href="https://remove.me">History</a>
                  </li>


                  <li class="sub-menu__menu-item">
                    <a href="https://remove.me">Staff</a>
                  </li>


                  <li class="sub-menu__menu-item">
                    <a href="https://remove.me">Board of Directors</a>
                  </li>


                  <li class="sub-menu__menu-item">
                    <a href="https://remove.me">Financials &amp; Reports</a>
                  </li>
                </ul>

              </li>
            </ul>

          </li>


          <li class="menu__menu-item menu__menu-item--expanded">
            <a href="https://remove.me">What We Do</a>


            <ul class="sub-menu">


              <li class="sub-menu__menu-item sub-menu__menu-item--expanded">
                <span>Bold Items</span>


                <ul class="sub-menu">


                  <li class="sub-menu__menu-item">
                    <a href="https://remove.me">Legislation</a>
                  </li>


                  <li class="sub-menu__menu-item">
                    <a href="https://remove.me">Leg Toolkit</a>
                  </li>


                  <li class="sub-menu__menu-item">
                    <a href="https://remove.me">Know Your Rights</a>
                  </li>
                </ul>

              </li>


              <li class="sub-menu__menu-item sub-menu__menu-item--expanded">
                <span>Items with Children</span>


                <ul class="sub-menu">


                  <li class="sub-menu__menu-item sub-menu__menu-item--expanded">
                    <a href="https://remove.me">Legal Docket</a>


                    <ul class="sub-menu">


                      <li class="sub-menu__menu-item">
                        <a href="https://remove.me">Active</a>
                      </li>


                      <li class="sub-menu__menu-item">
                        <a href="https://remove.me">Closed</a>
                      </li>


                      <li class="sub-menu__menu-item">
                        <a href="https://remove.me">Landmark</a>
                      </li>
                    </ul>

                  </li>
                </ul>

              </li>
            </ul>

          </li>


          <li class="menu__menu-item menu__menu-item--expanded">
            <a href="https://remove.me">Take Action</a>


            <ul class="sub-menu">


              <li class="sub-menu__menu-item sub-menu__menu-item--expanded">
                <span>Bold Items</span>


                <ul class="sub-menu">


                  <li class="sub-menu__menu-item">
                    <a href="https://remove.me">Become a Member</a>
                  </li>


                  <li class="sub-menu__menu-item">
                    <a href="https://remove.me">Chapters</a>
                  </li>


                  <li class="sub-menu__menu-item">
                    <a href="https://remove.me">Get Updates</a>
                  </li>
                </ul>

              </li>
            </ul>

          </li>


          <li class="menu__menu-item">
            <a href="/donate" title="Donate Now" name="Donate Now" data-drupal-link-system-path="node/145">Donate</a>
          </li>


          <li class="menu__menu-item menu__menu-item--expanded">
            <a href="https://remove.me">News</a>


            <ul class="sub-menu">


              <li class="sub-menu__menu-item sub-menu__menu-item--expanded">
                <span>Bold Items</span>


                <ul class="sub-menu">


                  <li class="sub-menu__menu-item">
                    <a href="https://remove.me">Blog</a>
                  </li>


                  <li class="sub-menu__menu-item">
                    <a href="https://remove.me">Newsletters</a>
                  </li>


                  <li class="sub-menu__menu-item">
                    <a href="https://remove.me">Press Releases</a>
                  </li>
                </ul>

              </li>
            </ul>

          </li>


          <li class="menu__menu-item">
            <a href="https://remove.me">Know Your Rights</a>
          </li>
        </ul>


      </nav>

{#
      <nav aria-labelledby="block-secondarynavigation-2-menu" id="block-secondarynavigation-2" class="contextual-region block block-menu navigation menu--secondary-navigation">

        <h2 id="block-secondarynavigation-2-menu" class="visually-hidden">Secondary Navigation</h2>
        <div data-contextual-id="block:block=secondarynavigation_2:langcode=en|menu:menu=secondary-navigation:langcode=en" data-contextual-token="VIWIlHvmo83crepdw9vLYqSKnYFFkxly8xjhSA1nldk" class="contextual" role="form">
          <button class="trigger visually-hidden focusable" type="button" aria-pressed="false">Open Secondary Navigation configuration options</button>
          <ul class="contextual-links" hidden="">
            <li class="block-configure">
              <a href="/admin/structure/block/manage/secondarynavigation_2?destination=/webform/life_income_plans">Configure block</a>
            </li>
            <li class="entitymenuedit-form">
              <a href="/admin/structure/menu/manage/secondary-navigation?destination=/webform/life_income_plans">Edit menu</a>
            </li>
          </ul>
        </div>


        <ul class="menu menu--secondary-navigation">


          <li class="menu__menu-item">
            <a href="https://remove.com">Blog</a>
          </li>


          <li class="menu__menu-item">
            <a href="https://remove.me">Need Legal Help?</a>
          </li>


          <li class="menu__menu-item">
            <a href="https://remove.me">Contact</a>
          </li>


          <li class="menu__menu-item">
            <a href="https://remove.me">En Enspañol</a>
          </li>


          <li class="menu__menu-item">
            <a href="https://remove.me">Donate</a>
          </li>
        </ul>


      </nav> #}

    </div>

  </div>

  <div class="offcanvas__footer"></div>
</aside>
