$fontello-name: fontello;
$fontello-css_prefix_text: icon-;
$fontello-css_use_suffix: false;
$fontello-hinting: true;
$fontello-units_per_em: 1000;
$fontello-ascent: 850;
$fontello-glyphs: (
(
	uid: 8e04c98c8f5ca0a035776e3001ad2638,
	css: facebook,
	code: 61594,
	src: fontawesome,
)
(
	uid: 6cc7af3e5b55720bcb6ef68372ce24be,
	css: facebook-alt,
	code: 62000,
	src: fontawesome,
)
(
	uid: 627abcdb627cb1789e009c08e2678ef9,
	css: twitter,
	code: 61593,
	src: fontawesome,
)
(
	uid: 4c1ef492f1d2c39a2250ae457cee2a6e,
	css: instagram,
	code: 61805,
	src: fontawesome,
)
(
	uid: e9107949dd6c9e8ab2b29ae07156e38c,
	css: linkedin,
	code: 61665,
	src: fontawesome,
)
(
	uid: bf09b1c6561dc0ced707476e2cd83d29,
	css: medium,
	code: 62010,
	src: fontawesome,
)
(
	uid: 1e89103762be72b0720eda0468e62b90,
	css: globe,
	code: 59392,
	src: linecons,
)
(
	uid: 47a1f80457068fbeab69fdb83d7d0817,
	css: youtube-play,
	code: 61802,
	src: fontawesome,
)
(
	uid: f08ba9f0e8f9b426a92efcaa59c1e932,
	css: reddit-alien,
	code: 62081,
	src: fontawesome,
)
(
	uid: 72b1277834cba5b7944b0a6cac7ddb0d,
	css: rss,
	code: 61598,
	src: fontawesome,
)
(
	uid: 4aad6bb50b02c18508aae9cbe14e784e,
	css: sharethis,
	code: 61920,
	src: fontawesome,
)
(
	uid: bf882b30900da12fca090d9796bc3030,
	css: mail,
	code: 59398,
	src: fontawesome,
)
(
	uid: 513ac180ff85bd275f2b736720cbbf5e,
	css: home,
	code: 59399,
	src: entypo,
)
(
	uid: 9dd9e835aebe1060ba7190ad2b2ed951,
	css: search,
	code: 59400,
	src: fontawesome,
)
(
	uid: 5211af474d3a9848f67f945e2ccaf143,
	css: close,
	code: 59401,
	src: fontawesome,
)
(
	uid: 7277ded7695b2a307a5f9d50097bb64c,
	css: print,
	code: 59403,
	src: fontawesome,
)
(
	uid: 474656633f79ea2f1dad59ff63f6bf07,
	css: star,
	code: 59397,
	src: fontawesome,
)
(
	uid: ccddff8e8670dcd130e3cb55fdfc2fd0,
	css: down-open,
	code: 59393,
	src: fontawesome,
)
(
	uid: 399ef63b1e23ab1b761dfbb5591fa4da,
	css: right-open,
	code: 59394,
	src: fontawesome,
)
(
	uid: fe6697b391355dec12f3d86d6d490397,
	css: up-open,
	code: 59395,
	src: fontawesome,
)
(
	uid: d870630ff8f81e6de3958ecaeac532f2,
	css: left-open,
	code: 59396,
	src: fontawesome,
)
(
	uid: xq9z5jujkqhrf97s70hjek6otohmhr1y,
	css: arrow-down,
	code: 59408,
	src: typicons,
)
(
	uid: qqsxko9kqxh5g53lz33yonkpc2rpkvkn,
	css: arrow-left,
	code: 59409,
	src: typicons,
)
(
	uid: 4oaz56fmzfvx7vry2o540n9l4z79fz8t,
	css: arrow-right,
	code: 59410,
	src: typicons,
)
(
	uid: mj2pxhfj0eumtbzirpdokhtzk00480uo,
	css: arrow-up,
	code: 59411,
	src: typicons,
)
(
	uid: 0d08dbb1dd648a43bdea81b7e6c9e036,
	css: marker,
	code: 59406,
	src: fontawesome,
)
(
	uid: 2d6150442079cbda7df64522dc24f482,
	css: down-dir,
	code: 59404,
	src: fontawesome,
)
(
	uid: 9dc654095085167524602c9acc0c5570,
	css: left-dir,
	code: 59407,
	src: fontawesome,
)
(
	uid: fb1c799ffe5bf8fb7f8bcb647c8fe9e6,
	css: right-dir,
	code: 59402,
	src: fontawesome,
)
(
	uid: 80cd1022bd9ea151d554bec1fa05f2de,
	css: up-dir,
	code: 59405,
	src: fontawesome,
)
);
