@import "../../variables";

.action-button {
  @include rem('max-width', 390px);
  @include rem('height', 200px);
  width: 100%;
}

.action-button--large {
  @include rem('height', 413px);
}

.card--action-button {
  height: 100%;

  .card__body {
    //z-index: unset;
    position: unset;
  }

  .card__title {
    @include rem('font-size', 48px);
    @include rem('bottom', 28px);
    @include rem('left', 27px);
    line-height: 0.83;
    position: absolute;
    max-width: 70%;
    text-transform: uppercase;
    font-stretch: condensed;
    font-family: $font--gt-america;

    color: white;
  }
}
