@import "../../variables";

.case-developments {
  @include rem('padding', 42px 20px 39px 20px);
  background-color: $color--jason-yellow;
}

.case-developments__title {
  @include rem('font-size', 24px);
  @include rem('margin-bottom', 52px);
  font-family: $font--gt-america;
  font-stretch: condensed;
  text-transform: uppercase;
  text-align: center;
}
