@import "../../variables";

.full-width-form {
  @include rem('padding', 42px 0 20px 0);
  background-color: $color--light-azure;

  h2, h3, h4, h5, h6, p {
    @include rem('margin-bottom', 20px);
    text-align: center;
  }

  h2, h3, h4, h5, h6 {
    text-transform: uppercase;
  }

  h2 {
    @include rem('font-size', 30px);
  }

  #edit-important-note {
    p {
      @include rem('font-size', 12px);
      @include rem('letter-spacing', 0px);
      font-weight: bold;
      font-family: $font--roboto;
      text-align: left;
    }
  }

  input[type=submit] {
    width: 100%;
    font-weight: bold;
  }
}
