@import "../../variables";

.iconlink {
  @include rem('width', 30px);
  @include rem('height', 30px);
  @include rem('line-height', 30px);
  background: $color--lighter-blue;
  color: white;
  border-radius: 50%;

  display: inline-block;
  text-align: center;

  .icon {
    @include rem('font-size', 14px);
  }

  &:hover {
    color: $color--rosalee-blue;
  }
}
