<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-2 col--12">
        {{ footer_branding }}
      </div>

      <div class="col-md-10 col--12">
        {{ footer }}
      </div>
    </div>

    <div class="row">
      <div class="col--12">
        {{ copyright }}
      </div>
    </div>
  </div>
</footer>
