{%
  set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}{{ title_suffix }}
  {% include '@organisms/75-tabbed-listing/_tabbed-listing.twig' with {
    items: content['#block_content'].field_departments,
    show_all_tab: true,
    view: 'aclunc_staff_listing'
  } only %}
</div>
