@import "../../variables";

.related-press {
  @include rem('margin-top', 25px);
}

.related-press__title {
  @include rem('font-size', 24px);
  @include rem('margin-bottom', 10px);
  text-transform: uppercase;
  font-stretch: condensed;
}

.related-press__item {
  line-height: 1.88;

  a {
    @include rem('font-size', 16px);
    color: $color--dark-gray;
    font-weight: bold;
    font-family: $font--gt-america;
    font-stretch: condensed;
  }
}
